---
import "@fontsource-variable/inter";

import Footer from "@/layouts/Footer.astro";
import Header from "@/layouts/Header.astro";

import { items, sources } from "@/data/icons.json";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>cloud-icons</title>
  </head>
  <body class="min-h-screen flex flex-col bg-white dark:bg-zinc-900">
    <Header
      numItems={items.length}
      sources={sources}
    />
    <main>
      <Footer />
    </main>
  </body>
</html>
